body {
    background-image: url(../img/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
#main-container {
    font-family:Arial, Sans-Serif;
    background-image: url(../img/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
a{
    color:#333;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.form{
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
input[type='text'], input[type='email'],
input[type='password'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}
input[type='submit']{
    padding: 10px 25px 8px;
    color: #fff;
    background-color: rgba(0,0,0,1);
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: none;
    margin-top: 10px;
    cursor:pointer;
}
input[type='submit']:hover {
    background-color: rgba(0,0,0,1);
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.7;
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close {
    position: absolute;
    top:5px;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
#page-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
.btn-submit {
    align-items: center;
}
#error-msg {
    text-align: center;
}
.box-account {
    text-align: center;
}
.tab-content {
    width: 100%;
    height:400px;
    overflow: hidden;
    text-align: center;
}
.recipe-body {
    width:100%;
    height: 100%;
    overflow: hidden;
}
.tab-body {
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}